.App {
  text-align: center;
}
#App-header {
  color: white;
  height:10%
}
#AddIncome {
  text-align: center;
  margin-top: 10%;
  width: 25%;
  margin-left: auto;
  margin-right: auto;

}
#AddOutcome {
  text-align: center;
  margin-top: 10%;
  width: 25%;
  margin-left: auto;
  margin-right: auto;

}
.Add {
  margin-left: auto;
  margin-right: auto;

}
#CashBack {
  text-align: center;
  margin-top: 10%;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}